:root {
  --ion-color-primary: #d0e114;
  --ion-color-primary-rgb: 208, 225, 20;
  --ion-color-primary-contrast: #252323;
  --ion-color-primary-contrast-rgb: 37, 35, 35;
  --ion-color-primary-shade: #b7c612;
  --ion-color-primary-tint: #d5e42c;

  --ion-color-secondary: #ed7d3a;
  --ion-color-secondary-rgb: 237, 125, 58;
  --ion-color-secondary-contrast: #252323;
  --ion-color-secondary-contrast-rgb: 37, 35, 35;
  --ion-color-secondary-shade: #d16e33;
  --ion-color-secondary-tint: #ef8a4e;

  --ion-color-dark: #252323;
  --ion-color-dark-rgb: 37, 35, 35;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #211f1f;
  --ion-color-dark-tint: #3b3939;

  --ion-background-color: #252323;
  --ion-background-color-rgb: 37, 35, 35;
  --ion-text-color: #ffffff;
  --ion-font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
